@mixin app-main {
  text-align: center;
  width: 100%;
  height: 100%;
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
}

.cert-icon{
  margin-right: 12px;
}

.img-cert {
  animation: zoom 0.5s;
  animation: fadeIn 700ms ease-out backwards;
  width: 75.5%;
  height: 83vh;
}

img:hover {
  cursor: pointer;
  transform: scale(1.01);
  transition: transform 0.5s;
}

#cross {
  cursor: pointer;
}

#glass, #cross{
  font-size: 1.8rem;
}

.download-icon{
  margin-left: auto;
}

#download {
  text-align: right;
  font-size: 1.5rem
}

.app-dark {
  @include app-main;
  color: #f2f2f2;
  background-color: #294162;
  background-image: linear-gradient(315deg, #294162 0%, #3362a2 74%);
  .cert-gallery,
  .searchbox {
    background: #f2f2f2;
  }

  #download {
    color: #f2f2f2;
  }

  .img-cert{
    box-shadow: 0px 0px 20px 0px rgb(24 54 100 / 65%);
  }

  i {
    color: #294162;
  }

  .certificate {
    border-top: 1px solid #c4bbbb;
  }

  .certificate:hover {
    background-color: #183664;
  }

  .certificate:active {
    background-color: #122d55;
    transition: background-color 0.5s;
  }

  .dataItem:hover {
    background-color: #294162;
    background-image: linear-gradient(180deg, #294162 0%, #3362a2 74%);
    color: #f2f2f2;
  }

  ::-webkit-scrollbar-thumb {
    background: #f2f2f2; 
  }
}

.app-light {
  @include app-main;
  color: #294162;
  background-color: #fff;
  background-image: linear-gradient(315deg, #cee9ee 0%, #edf7fa 74%);
  .cert-gallery,
  .searchbox {
    background: #294162;
  }

  #download {
    color: #294162;
  }

  i {
    color: #f2f2f2;
  }

  .img-cert {
    box-shadow: 0px 0px 20px 0px rgb(242 242 242 / 65%);
  }

  input,
  select,
  textarea {
    color: #f2f2f2;
  }

  input::placeholder {
    color: #f2f2f2;
  }

  .certificate {
    border-top: 1px solid #183664;
  }

  .certificate:hover {
    background-color: #c6e4e9;
  }

  .certificate:active {
    background-color: #b1e1e9;
    transition: background-color 0.5s;
  }

  .dataItem:hover {
    background-color: #fff;
    background-image: linear-gradient(180deg, #cee9ee 0%, #edf7fa 74%);
  }

  ::-webkit-scrollbar-thumb {
    background: #122d55; 
  }
}

.dataResult::-webkit-scrollbar-thumb {
  background: #3362a2;
}

.dataResult::-webkit-scrollbar {
  width: 4px;
}

.certwrap {
  display: flex;
}

.cert-gallery {
  width: 66vw;
  padding-top: 0.9rem;
  margin-bottom: 0.5rem;
  margin-left: 0.5rem;
}

@keyframes fadeIn {
  from {
    transform: scale(0.1);
    opacity: 0;
  }

  to {
    transform: scale(1);
    opacity: 1;
  }
}

.header {
  display: flex;
  padding: 1rem;
  justify-content: space-between;
}

.head-right {
  display: flex;
  justify-content: space-between;
  width: 61%;
  padding: 1rem;
}

.heading {
  font-size: 2.8rem;
  font-family: Snell Roundhand, cursive;
  padding: 1rem;
  text-align: left;
}

.search-wrapper {
  position: relative;
  width: 45%;
}

.searchbox {
  display: flex;
  padding: 1rem;
  border-radius: 0.4rem;
}

input,
input:focus-visible {
  width: 100%;
  height: 100%;
  border: none;
  background: transparent;
}

.certlist {
  display: flex;
  flex-direction: column;
  width: 34vw;
  height: 87vh;
  overflow-y: auto;
  margin-left: 0.5rem;
}

.certificate {
  display: flex;
  text-align: left;
  padding: 2.2rem;
  padding-right: 3rem;
  font-size: 1.8rem;
  margin-right: 0.5rem;
  font-family: Georgia, serif;
  cursor: pointer;
}

.dataResult {
  position: absolute;
  margin-top: 0.5rem;
  width: 100%;
  border-radius: 0.4rem;
  max-height: 20rem;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  overflow: hidden;
  overflow-y: auto;
}

.dataResult .dataItem {
  width: 100%;
  text-align: left;
  font-size: 1.5rem;
  font-family: Georgia, serif;
  cursor: pointer;
  padding: 1.5rem;
  color: #294162;
}

::-webkit-scrollbar {
  width: 2px;
}

@media (max-width:950px){
  html{
    font-size: 8px;
  }
}

@media (max-width:760px){
  html{
    font-size: 7px;
  }
}

@media (max-width:670px){
  html{
    font-size: 6px;
  }
}

@media (max-width:500px){

  html{
    font-size: 7px;
  }
  .header{
    flex-direction: column;
  }

  .head-right{
    width: 95%;
  }

  .search-wrapper{
    width: 65%;
  }

  .certwrap{
    flex-direction: column;
  }

  .cert-gallery{
    width:98vw;
  }

  .img-cert{
    width: 91%;
    height: 50vh;
  }

  .certlist{
    width: 100vw;
    height: 50vh;
  }

}
